:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
*{
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}
