.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fe5d42;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px 60px;
  border-radius: 10px;
}
.header a {
  font-size: 1.5rem;
  font-weight: 600;
}
.header div {
  font-size: 1.6rem;
  background-color: #fff;
  text-align: center;
  color: #fe5d42;
  height: 35px;
  width: 35px;
  border-radius: 9px;
  padding: 2px;
  position: relative;
}
.header span {
  height: 20px;
  width: 20px;
  font-size: 0.9rem;
  line-height: 20px;
  color: #fff;
  background-color: #000;
  position: absolute;
  border-radius: 50px;
  top: -10px;
  right: -10px;
}
.footer {
  text-align: center;
  background-color: #fe5d42;
  padding: 20px;
  margin: 10px;
  margin-top: 80px;
  border-radius: 10px;
}
